/* card */
.card-shadow-line {
    padding: 40px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px  rgb(204, 203, 203);
}


.border{
    border: 1px solid gray;
}

.paddingMargin-default {
    padding: 20px;
    margin: 10px;
}

