*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
}

.drop-area{
    border: 2px dashed #ddd;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}
.drop-area h2{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.drop-area span{
    font-size: 25px;
    color: #000;
}
.drop-area button{
    padding: 10px 5px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}


#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color: #d9534f;

}

.failure{
    color: #ff0000;
}