.link{
    display: block;
    padding: 10px;
    margin: 10px;
}

.caja{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 2px;
}
.contenedor{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

h1{
    padding: 10px;
    text-align: center;
}